# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Build and temporary files
dist/
build/
.cache/
.tmp/

# Logs
logs
*.log

# Secret / Environment files
.env
.env.local
.env.*.local
